/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
  margin:0;
  padding:0;
}

html{
  font-size: 16px;
}

body{
  overflow-x: hidden;
}

ol,ul li{
  list-style:none;
}

a{
  text-decoration:none;
  display:block;
}

img{
  border:none;
  display:block;
}

.clearfloat{
  zoom:1;
}

.clearfloat:after{
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

/*public*/
.public-container{
  position: relative;
  width: 100%;
}

.public-footer{
  position: relative;
  padding-top: 78px;
/*  height: 360px;*/
  background-color: #a2cef0;
}

.bg-img{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; 
  height: 100%;
}

/*header*/
.public-header .exchange{
  position: relative;
  height: 34px;
  background-color: #026dbf;
}

.public-header .exchange .partner{
  float: right;
  margin-top: 7px;
  margin-left: 20px;
}

.public-header .exchange .partner .sites{
  padding-left: 10px;
  border: 1px solid #cbcbcb;
  width: 158px;
  height: 18px;
  font-size: 0.75rem;
  line-height: 18px;
  color: #fff;
  background-color: #026dbf;
}

.public-header .exchange .lang{
  float: right;
}

.public-header .exchange .lang a{
  font-size: 0.75rem;
  line-height: 34px;
  color: #fefcfc;
}

.public-header .nav{
/*  height: 92px;*/
  position: relative;
  border-bottom: 1px solid #b8d4df;
  background-color: #fff;
}

.public-header .nav .header-logo{
  margin-top: 17px;
  margin-left: 14px;
  margin-bottom: 16px;
  width: 266px;
  height: 59px;
}

.public-header .nav .header-logo .logo{
  float: left;
  width: 59px;
  height: 59px;
  background: url("../imgs/header-logo.jpg");
}

.public-header .nav .header-logo .txt{
  float: left;
  margin-top: 9px;
  margin-left: 14px;
  width: 193px;
  height: 50px;
  background: url("../imgs/header-logo-txt.jpg");
}

.public-header .nav .menu{
  margin-top: 16px;
}

.public-header .nav .menu .item{
  line-height: 32px;
  text-align: center;
  word-break:keep-all;/* 不换行 */
  white-space:nowrap;/* 不换行 */
}

.public-header .nav .menu .item:nth-child(2n){
  background-color: #026dbf;
}

.public-header .nav .menu .item a{
  display: inline;
  font-size: 0.875rem;
  color: #333;
}

.public-header .nav .menu .item:nth-child(2n) a{
  color: #fff;
}

.public-header .nav .menu .item a:hover{
  text-decoration: underline;
}

/*footer*/
.public-footer .footer-container{
  float: left;
  margin-bottom: 87px;
}

.public-footer .footer-container h4{
  margin-bottom: 30px;
}

.public-footer .footer-container a{
  font-size: 0.875rem;
  line-height: 0.75;
  text-align: center;
  color: #333;
}

.public-footer .footer-logo{
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  width: 502px;
  overflow: hidden;
}

.public-footer .footer-logo .logo-caption{
  margin-bottom: 24px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.public-footer .footer-logo .logo-caption .line{
  margin-top: 8px;
  width: 202px;
  border-top: 1px solid #999fa8;
}

.public-footer .footer-logo .logo-caption .txt{
  margin: 0 15px;
  font-size: 1rem;
}

.public-footer .footer-logo .qr-box{
  width: 130px;
  font-size: 0.875rem;
  text-align: center;
}

.public-footer .footer-logo .qrcode{
  width: 130px;
  height: 130px;
  margin-bottom: 17px;
}

.public-footer .footer-logo .weixin .qrcode{
  background: url("../imgs/footer-logo1.jpg");
}

.public-footer .footer-logo .company .qrcode{
  background: url("../imgs/footer-logo2.jpg");
}

.public-footer .footer-logo .seminar .qrcode{
  background: url("../imgs/footer-logo3.jpg");
}

.public-footer .copyright{
  position: relative;
  padding-top: 22px;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  color: #fff;
  background-color: #196fb2;
}

.public-footer .copyright .Separated{
  margin: 0 15px;
}

.public-footer .copyright img{
  display: inline-block;
  margin-top: 10px;
}

/*banner*/
.index-banner{
  position: relative;
  height: 739px;
  overflow: hidden;
  text-align: center;
}

.index-banner .banner-caption{
  position: absolute;
  top: 112px;
  right: 0;
  left: 0;
  margin: auto;
}

.index-banner .banner-caption .caption-txt{
  word-break:keep-all;/* 不换行 */
  white-space:nowrap;/* 不换行 */
}

.index-banner .banner-caption h2{
  font-family:"SimSun";
  font-size: 2rem;
  color: #fff;
}

.index-banner .banner-caption h2>span{
  margin-right: 4%;
}

.index-banner .banner-caption .caption-icon{
  position: relative;
  margin: 81px auto;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: #e62129;
  cursor: pointer;
}

.index-banner .banner-caption .caption-icon .inner-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -7px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 21px solid #fff;
}

/*panel-1*/
.index-panel{
  position: relative;
/*  height: 668px;*/
  text-align: center;
  overflow: hidden;
  background-color: #fff;
}

.index-panel .panel-header{
  position: relative;
}

.index-panel .panel-header h3{
  margin-top: 85px;
  font-size: 1.5rem;
  color: #026dbf;
  font-weight: normal;
}

.index-panel .panel-header p{
  height: 1.67em;
  font-size: 1rem;
  color: #999;
}

.index-panel .panel-header>p>span{
  font-size: 1.67rem;
}

.index-panel .panel-header>.line{
  position: absolute;
  margin-top: 20px;
  margin-left: -8px;
  border-top: 4px solid #999;
  width: 16px;
}

.index-panel .panel-body{
  margin-top: 70px;
}

.index-panel .panel-body .panel-body-more{
  text-align: right;
  margin-bottom: 10px;
  color: #999;
}

.index-panel .panel-body .panel-body-more .more{
  margin-left: 20px;
  margin-right: 15px;
}

.index-panel .panel-body ul{
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 282px;
}

.index-panel .panel-body .panel-box{
  float: left;
  margin-bottom: 18px;
  width: 282px;
  height: 332px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  text-align: left;
  overflow: hidden;
}

.index-panel .panel-body .panel-box .title{
  float: left;
  margin-top: 10px;
  margin-left: 16px;
  font-size: 0.75rem;
  color: #333;
}

.index-panel .panel-body .panel-box .info{
  float: left;
  margin-top: 22px;
  margin-left: 16px;
  font-size: 0.625rem;
  color: #a9a9a9;
}

.index-panel .panel-body .panel-box .time{
  float: right;
  margin-top: 28px;
  margin-right: 17px;
  font-size: 0.5rem;
  color: #fa9a4c;
}

/*panel-2*/
.industry .industry-bg img{
  opacity: 0.3;
}

.industry .panel-body ul{
  justify-content:space-around;
  height: 326px;
  transition:all 1s;
  overflow: hidden;
}

.industry .panel-body .item{
  position: relative;
  float: left;
  width: 286px;
  height: 326px;
}

/*.industry .panel-body .item:hover{
  z-index: 999;
  transform: scale(1.1,1.1);
}*/

.industry .panel-body .item a{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 1.375rem;
  color: #fff;
  background: rgba(0,0,0,0.5);
}

.industry .panel-btm{
  display: inline-block;
  margin-top: 68px;
  margin-bottom: 26px;
  width: 112px;
  height: 76px;
}

.industry .panel-btm .more{
  display:flex;
  justify-content:space-between;
  height: 27px;
}

.industry .panel-btm .more .icon{
  font-size: 1.75rem;
  line-height: 27px ;
  color: #666;
}

.industry .panel-btm .txt{
  display: inline-block;
  margin-top: 26px;
  font-size: 0.875rem;
  color: #333;
}

.industry .panel-btm .txt:hover{
  text-decoration: underline;
}

.industry .panel-btm .line{
  position: absolute;
  display: inline-block;
  margin-top: 7px;
  margin-left: -1.9em;
  border-top: 1px solid #666;
  width: 3.5em;
}

/*panel-3*/
.culture .panel-header{
  margin-top: 126px;
}

.culture .panel-body{
  position: relative;
  margin-bottom: 68px;
/*  height: 411px;*/
  overflow: hidden;
  background-color: #fff;
}

.culture .panel-body>img{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
  height: 100%;
}

.culture .panel-body ul{
  width:100%;
}
.culture .panel-body .item{
  position: relative;
  float: left;
  width: 100%;
  height: 205px;
  text-align: left;
  overflow: hidden;
  box-sizing: border-box;
}

.culture .panel-body .pic-left .pic{
  position: relative;
  float: left;
  margin-right: 1.875rem;
  width: 50%;
}

.culture .panel-body .item img{
  max-width: 100%;
  height:auto;
}

.culture .panel-body .item h4{
  margin-top: 1.6rem;
  font-size: 1.25rem;
  font-weight: normal;
  color: #026dbf;
}

.culture .panel-body .item p{
  margin-top: 16px;
  font-size: 0.75rem;
  color: #808080;
}

.culture .panel-body .item p>span{
  font-size: 0.875rem;
  color: #333;
}

.culture .panel-body .pic-right .txt{
  margin-left: 1.875rem;
}

.culture .panel-body .pic-right .pic{
  position: relative;
  float: right;
  width: 50%;
}

/*jion panel-3*/
.jion .bg-img{
  -webkit-filter: blur(10px); 
     -moz-filter: blur(10px);
      -ms-filter: blur(10px);    
          filter: blur(10px);
}

.jion .panel-header h3{
  margin-top: 38px;
}

.jion .panel-header p{
  color: #fff;
}

.jion .panel-header .line{
  border-top: 4px solid #fff;
}

.jion .panel-body .item{
  position: relative;
  float: left;
  margin-bottom: 164px;
  width: 282px;
  height: 164px;
  text-align: center;
  background: rgba(24,118,188,0.8);
}

.jion .panel-body .item:after{
  position: absolute;
  left: 0;
  top: -82px;
  content: "";
  border-right: 141px solid transparent;
  border-bottom: 82px solid rgba(24,118,188,0.8);
  border-left: 141px solid transparent;
}

.jion .panel-body .item:before{
  position: absolute;
  left: 0;
  bottom:-82px;
  content: "";
  border-top: 82px solid rgba(24,118,188,0.8);
  border-right: 141px solid transparent;
  border-left: 141px solid transparent;
}

.jion .panel-body .item .icon{
  display: inline-block;
  margin: 0 auto;
}

.jion .panel-body .item .txt{
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-top: 44px;
  margin-left: -2em;
  font-size: 1.75rem;
  color: #fff;
}

.jion .panel-body .first .item:nth-child(3){
  margin: 0 auto 164px auto
}

.jion .panel-body .first{
  margin-top: 154px;
}

/*panel-4*/
.icon .panel-header>h3>.txt{
  font-size: 0.75rem;
  color: #999;
}

.icon .panel-header .capital{
  font-size: 1.35rem;
}

.icon .panel-header>h3>.line{
  border-right: 4px solid #999;
  margin: 0 30px;
}

.icon .panel-header .line-left{
  position: absolute;
  border-top: 1px solid #6c7480;
  margin-top: 8px;
  margin-left: -17em;
  width: 13em;
}

.icon .panel-body{
  margin-top: 0;
  padding-top: 60px;
  overflow: hidden;
}

.icon .panel-body ul{
  overflow: hidden;
  width: 70%;
}

.icon .panel-body .item{
  margin-bottom: 20px;
  width: 103px;
  height: 103px;
}

.play{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
}

.play .player{
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.play .player video{
  display:block;
  margin:0 auto;
  width: 800px;
  height: 450px;
}

@media screen and (min-width: 566px){
  .public-header .nav .menu{
    border-top: 1px solid #026dbf;
  }

  .public-header .nav .menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }
  .public-header .nav .menu .item:nth-child(2n){
    background-color: #fff;
  }
  .public-header .nav .menu .item:nth-child(2n) a{
    color: #233;
  }

  .public-header .nav .menu .item{
    float: left;
    width: 80px;
    line-height: 60px;
  }

  /*banner*/
  .index-banner .banner-caption h2{
    font-size: 3.5rem;
  }

  /*panel1*/
  .index-panel .panel-body ul{
    width: 88%;
  }

  .culture .panel-body ul{
    width: 600px;
  }

}
@media screen and (min-width: 658px){
  .jion .panel-body .item{
    margin-bottom: 0;
  }

  .jion .panel-body .first .item:nth-child(3){
    margin:98px auto;
  }

  .jion .panel-body .second{
    margin-bottom: 112px;
  }
  .public-footer .footer-logo{
    margin-left: 20%;
  }
}

@media screen and (min-width: 978px){
  .public-header .nav{
    height: 92px;
  }
  .public-header .nav .header-logo{
    float: left;
  }

  .public-header .nav .menu{
    float: right;
    margin-top: 0;
    width: 680px;
    border-top: none;
  }

  .public-header .nav .menu .item{
    margin-top: 0;
    width: 80px;
    padding-top: 16px;
  }

  .public-header .nav .menu .item:hover{
    background-color: #026dbf;
  }

  .public-header .nav .menu .item a{
    line-height: 60px;
  }
  
  /*panel1*/
  .index-panel .panel-body ul{
    width: 800px;
  }

  .culture .panel-body ul{
    width: 600px;
  }
  .culture .panel-body .item{
    width: 600px;
  }

  /*jion*/
  .jion .panel-body .first{
    margin-top: 156px;
    margin-bottom: 88px;
    width: 866px;
  }

  .jion .panel-body .second{
    margin-bottom: 134px;
    width: 574px;
  }

  .jion .panel-body .first .item:nth-child(3){
    margin:0;
  }

  .public-footer .footer-container{
    margin-left: 186px;
  }

  .public-footer .footer-logo{
    float: left;
  }

}

@media screen and (min-width: 1200px){
  .public-header .nav .menu{
    margin-top: 0;
  }

  .public-container{
    position: relative;
    margin: 0 auto;
    width: 1200px;
  }

    /*panel1*/
  .index-panel .panel-body ul{
    width: 1200px;
  }

  .icon .panel-body{
    margin-top: 120px;
    padding: 0;
  }

  .icon .panel-body ul{
    width: 1200px;
    margin-bottom: 98px;
  }

}